/* Affichage du Bloc Recherche */
.search_input 
{
    margin: 15px 0 31px;
    box-shadow: inset 0 0 0 1px #f2f2f2;
    border-radius: 17px;
    overflow: hidden;
    width: 420px;
    display: flex;
    justify-content: space-between;
}

/* Affichage Span icon map */
.search_input .search_input_icon {
    min-width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

/* Icon map Color */
.search_input .search_input_icon i 
{
    color: black;
}

/* Input Recherche */
.search_input input 
{
    background-color: #ffffff00;
    min-width: 160px;
}

/* Input and Button */
.search_input input, .search_input button 
{
    border: none;
    padding: 17px;
    color: black;
    font-weight: bold;
}

/* Button Submit style */
.search_input button[type="submit"] 
{
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    min-width: 50px;
}

/* Affichage des filtres */
.filters 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

/* Style et position du titre des filtres */
.filters .filters_title 
{
    box-shadow: none;
    margin: 20px 24px 20px 0px;
}

/* Affichage du bloc des filtres option checkbox */
.filters .filters_options 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Position des input de type hebergement */
.filters_options input[name="type_hebergement"] 
{
    opacity: 0;
    position: absolute;
    left: -9999px;
}

/* Affichage des filtres checkbox*/
.filter_option 
{
    margin: 5px 24px 5px 0;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 0 2px #f2f2f2;
    border-radius: 30px;
    cursor: pointer;
}

/* Affichage des icones pour chaque filtre */
.filter_option .filter_option_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    padding: 15px;
    background-color: #deebff;
    border-radius: 50px;
}

/* Affichage des libellés pour chaque filtre */
.filter_option .filter_option_label {
    padding: 0 20px 0 15px;
    cursor: pointer;
}